flows.json
[{"id":"deb0d57.1c46528","type":"tab","label":"Flow 1"},{"id":"d7c6748b.09c6b","type":"debug","z":"deb0d57.1c46528","name":"Score","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload.d.Score","targetType":"msg","x":1060,"y":340,"wires":[]},{"id":"b54e833c.dc411","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"90A2DAF8157E","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":false,"allFormats":false,"qos":"0","x":940,"y":80,"wires":[["4a623589.19ee74","d7c6748b.09c6b"]]},{"id":"97b1424d.4e90d8","type":"debug","z":"deb0d57.1c46528","name":"Score","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.d.Score","targetType":"msg","x":1388.5,"y":381,"wires":[]},{"id":"f13ff2b7.d63c8","type":"average-bars","z":"deb0d57.1c46528","name":"average-bars","title":"","period":"day","yMin":"auto","yMax":"auto","showBarsValue":true,"showScaleValue":true,"showLastValue":true,"showAverageValue":true,"showMinimumValue":true,"showMaximumValue":true,"maxBar":30,"topColor":"#ff0000","bottomColor":"#ffff00","unit":"","fontColor":"#aaaaaa","barStyle":"Rectangle","decimal":1,"x":1610,"y":480,"wires":[[]]},{"id":"4a623589.19ee74","type":"function","z":"deb0d57.1c46528","name":"","func":"msg.payload = msg.payload.d.Score;\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":220,"wires":[["9d4cfba4.38cda","97b1424d.4e90d8","f13ff2b7.d63c8"]],"info":"msg.payload = msg.payload.d.Score;\nreturn msg;"},{"id":"9d4cfba4.38cda","type":"ui_lineargauge","z":"deb0d57.1c46528","group":"","order":0,"width":0,"height":0,"name":"","colorLowArea":"#ffffc0","colorMidArea":"#99ff99","colorHighArea":"#ff8080","unit":"units","x":1380,"y":640,"wires":[["335c2561.6ca662"]]},{"id":"335c2561.6ca662","type":"ui_level","z":"deb0d57.1c46528","order":0,"width":0,"height":0,"name":"","label":"","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":100,"segWarn":"","segHigh":"","unit":"units","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","x":1570,"y":640,"wires":[]}]